html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.players-section {
  display: flex;
  justify-content: space-around;
  height: 163px;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(to right, #f0eded, #aeadad, #f0eded);
}

.player-color-red {
  border-top: 10px solid red;
}

.player-color-blue {
  border-top: 10px solid blue;
}

.player-color-orange {
  border-top: 10px solid orange;
}
.player-color-pink {
  border-top: 10px solid pink;
}
.player-color-black {
  border-top: 10px solid black;
}
.player-color-yellow {
  border-top: 10px solid yellow;
}

.player-profile {
  box-shadow: 8px 8px 36px -3px rgba(56, 46, 56, 1);
  border-radius: 5%;
  height: 135px;
  align-items: center;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#player-1 {
  background-color: rgb(254, 97, 97);
}

#player-2 {
  background-color: rgb(97, 223, 254);
}

#player-3 {
  background-color: rgb(200, 224, 154);
}

#player-4 {
  background-color: rgb(241, 250, 119);
}

#player-5 {
  background-color: rgb(157, 149, 149);
}

#player-6 {
  background-color: rgb(162, 88, 88);
}

.map-section {
  border: 1px solid black;
  width: 66%;
  background: skyblue;
}

.activity-log {
  overflow: scroll;
  width: 35%;
  border: 1px solid black;
  height: 600px;
  background-image: linear-gradient(
    to top left,
    rgba(242, 224, 173, 0.7),
    rgba(238, 192, 64)
  );
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.player-header {
  width: 100%;
  margin-top: 2%;
  border-bottom: 2px solid black;

  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.self-details {
  overflow: scroll;
  width: 35%;
  border: 1px solid black;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(
    to top left,
    rgba(242, 224, 173, 0.7),
    rgba(238, 192, 64)
  );
}

.power-plant {
  width: 80%;
  height: 125px;
  border: 1px solid black;
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
}

th,
td {
  border: 1px solid black;
}

.unselectedCard {
  height: 70%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
  border: 1px solid black;
  background: gray;
}

.player-power-plant{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border:1px solid black;
}

.player-power-plants{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

.player-resources{
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: space-around;
}

.player-resource {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedCard {
  height: 70%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
  border: 2px solid orangered;
  background: gray;
}

.price {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.single-market {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5%;
  width: 940px;
  height: 180px;
}

.resource-market {
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 940px;
  height: 125px;
  border: solid 1px black;
}

.price-details {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
  border-bottom: 0.2px solid black;
}

.price {
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.resource-grid {
  position: relative;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  height: 90%;
  border: solid 1px black;
}

.resource {
  width: 30%;
  height: 30%;
  border: solid 1px black;
}

.cost {
  position: absolute;
  bottom: 89%;
  left: 90%;
  width: 5%;
  height: 5%;
  padding-left: 3%;
  padding-right: 6%;
  padding-bottom: 10%;
  padding-top: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
}
.last-uranium {
  position: relative;
  width: 40%;
  height: 40%;
  border: solid 1px black;
}

.resource.middle-resource {
  width: 22%;
  color: black;
}

.coal {
  margin: 40% 25%;
  height: 50%;
  width: 50%;
  background-color: rgba(131, 79, 1, 0.63);
}

.oil {
  width: 50%;
  height: 70%;
  background-color: black;
  margin: 30% 25%;
}

.garbage {
  width: 40%;
  height: 70%;
  background-color: rgb(90, 90, 5);
  margin: 20% 25%;
  border: 1px solid rgb(200, 241, 87);
}

.uranium {
  width: 50%;
  height: 70%;
  background-color: red;
  margin: 30% 25%;
}

.uranium-cost {
  position: absolute;
  bottom: 75%;
  left: 70%;
  width: 32%;
  height: 32%;
  padding-right: 1%;
  padding-top: 5%;
  padding-bottom: 1%;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
  font-size: 70%;
}

.bidding-section {
  height: 80px;
  width: 940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.increase-bid {
  position: relative;
  top: 10%;
  height: 100%;
}
