@import url(https://fonts.googleapis.com/css?family=Anaheim);

main {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Avenir Next !important;
  background-image: url("https://bit.ly/2S7mJsU");
  background-size: cover;
  margin: 0;
}

.main-box {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 60%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

header {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  /* text-shadow: 2px 4px gray; */
  text-align: center;
  justify-content: center;
}

.logo {
  height: 70%;
  width: 4%;
  transform: rotate(30deg);
}

.options {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.options > button {
  height: 65px;
  font-family: inherit;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bolder;
  background-image: linear-gradient(rgb(250, 207, 207), rgb(233, 164, 91));
  cursor: pointer;
  box-shadow: 2px 3px 20px 3px rgb(0, 0, 0);
}

.submit {
  height: 65px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bolder;
  background-image: linear-gradient(rgb(250, 207, 207), rgb(233, 164, 91));
  cursor: pointer;
  box-shadow: 2px 3px 20px 3px rgb(0, 0, 0);
}

.submit:focus {
  text-decoration: none;
  outline: none;
}

.submit:hover {
  background-image: linear-gradient(rgb(233, 164, 91), rgb(237, 148, 53));
}

.options > button:focus {
  text-decoration: none;
  outline: none;
}

.options > button:hover {
  background-image: linear-gradient(rgb(233, 164, 91), rgb(237, 148, 53));
}

.overlay {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;

  background: rgba(63, 63, 63, 0.96);
}

.popup {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #b4aac1;
}

.cross-button {
  padding: 0px;
  text-align: right;
  margin-right: 1%;
  font-size: 40px;
  color: rgb(218, 213, 226);
}

.cross-button :hover {
  color: whitesmoke;
  cursor: pointer;
}

.textField {
  border: none;
  border-bottom: 2px solid rgb(233, 164, 91);

  font-size: 25px;
  text-align: center;

  color: whitesmoke;
  background: transparent;
}

.textField::placeholder {
  color: rgb(168, 172, 175);
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.textField:focus {
  outline: none;
}

.textField:hover {
  color: whitesmoke;
  border-bottom: 3px solid rgb(223, 241, 243);
}

.loader {
  /* border: 2px solid #f3f3f3; */
  border-radius: 50%;
  /* border-top: 2px solid #3ea8da; */
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite; /* Safari */
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.waiting-page {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: #b0d8eb;
}

.rules-book {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.rules-book > embed {
  width: 75%;
  height: 85%;
  background-color: inherit;
}

*:before,
*:after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container{
  padding-top: 20%;
  margin: 4% auto;
  width: 350px;
  height: 100px;
  position: relative;
  perspective: 1000px;
  padding-bottom: 50%;
}

#carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

#carousel figure{
  position: absolute;
  display: block;
  width: 196px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: black;
  overflow: hidden;
  border: solid 5px black;
}

figure > img {
  height: 100px;
  width: 200px;
}

#carousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(53deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(106deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(159deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(212deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(265deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(318deg) translateZ(288px);}

@keyframes rotation{
  from{
      transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}