<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="gamepage.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script src="/power_plant_market.js"></script>
    <script src="/player_profile.js"></script>
    <script src="/resourceMarketTemplate.js"></script>
  </head>
  <body onload="showPlayerAssets('<%= JSON.stringify(players) %>')">
    <main style="width: 100%;height: 100%; display: flex">
      <section class="self-details">
        <div class="player-name">PLAYER 3</div>
        <div class="power-plant"></div>
        <div class="power-plant"></div>
        <div class="power-plant"></div>
        <table>
          <thead>
            <th>RESOURCES</th>
            <th>LEFT</th>
          </thead>
          <tbody>
            <tr>
              <td>Coal</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Oil</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Garbage</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Uranium</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
        <div><b> C A S H : 5 0 /- </b></div>
      </section>
      <section id="map" class="map-section"></section>
      <section class="activity-log">
        <p>ACTIVITY LOG</p>
      </section>
    </main>
    <section class="players-section">
      <% players.forEach(function(player){ %> <%- include('allUsers', {player})
      %> <% }); %>
    </section>
  </body>
</html>
